.hero {
    padding-left: 0px;
    padding-right: 0px;
    
    img {

    }
}

#hero-nav {
    position: absolute;
    margin-bottom: 0p;
    background: none;
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
}